body {
    background: #d9d2d0;
    margin: 50px 0px 50px 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #1a1b18;
}
.container {
    width: 100%;
    float: left;
}
.blok_1 {
    top: 150px;
    width: 500px;
    height: 300px;
    float: left;
    border-right: #aa7e70;
    position: sticky;
}
.blok_2 {
    width: 400px;
    height: 500px;
    float: left;
    margin-right: 15px;
    position: sticky;
}
.blok_3 {
    border-left: 2px solid #aa7e70;
    width: 20px;
    height: 500px;
    font-size: 200px;
    float: left;
    position: sticky;
}
.blok_4 {
    width: 100px;
    height: 500px;
    float: left;
    position: sticky;
}



