body {
    background: #d9d2d0;
    margin: 50px 50px 50px 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #1a1b18;
    
}
.container {
    width: 100%;
    float: left;
}
.blok_1 {
    width: 33%;
    height: 500px;
    float: left;
    margin-right: 15px;
    position: sticky;
}
.blok_2 {
    width: 600px;
    height: 500px;
    float: left;
    border-right: #aa7e70;
    position: sticky;
}

.blok_3 {
    border-left: 2px solid #aa7e70;
    width: 2px;
    height: 500px;
    font-size: 200px;
    float: left;
    position: sticky;
}
.blok_4 {
    width: 110px;
    height: 500px;
    float: right;
    margin-right: 15px;
    position: sticky;
}

  